.race_progress {
	margin: 50px;
}

.progress_text {
	/* text-align: left !important;
	right: 0 !important;
	left: 0 !important; */
	text-align: center;
	vertical-align: top;
}

.row {
	height: 10px;
}

.bar {
	margin-top: 3px;
}
