/* ---Screen--- */
.screen {
	background: #dcdcdc;
	height: 300px;
	margin: 80px 0 0;
	width: 100%;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.05ex;
	color: #8f8f8f;
	overflow: hidden;
	font-family: 'Roboto Mono', monospace;
	font-style: italic;
	position: relative;
}

.screen__incorrect {
	background: #dfcac9;
}

.screen__inner__incorrect {
	height: 270px;
	padding: 0 30px;
	border-top: 30px solid #dfcac9;
	overflow: hidden;
	opacity: 1;
	transition: opacity 1s;
}

.screen__complete {
	background: #c9dfc9;
}

.screen__inner__complete {
	height: 270px;
	padding: 0 30px;
	border-top: 30px solid #c9dfc9;
	overflow: hidden;
	opacity: 1;
	transition: opacity 1s;
}

.screen__inner__wrapper {
	height: 270px;
	padding: 0 30px;
	border-top: 30px solid gainsboro;
	overflow: hidden;
	opacity: 0;
}

.screen__inner__wrapperFadeIn {
	height: 270px;
	padding: 0 30px;
	border-top: 30px solid gainsboro;
	overflow: hidden;
	opacity: 1;
	transition: opacity 1s;
}

.completedText {
	color: black;
}

.firstCharacter {
	text-decoration: underline;
	text-decoration-color: black;
}
