.play_section {
	margin-top: 75px !important;
}

.play_create {
	background-color: #f7987a !important;
	/* color: white !important; */
}

.join_column .button {
	background-color: #f7987a !important;
}
